body{
  background-color: #fafafa;
}

.main{
  font-size: 115%
}
.footer{
	font-size: 92%;
}

#head{
  box-shadow:1px 1px 5px rgba(0,0,0,0.2);
}

.navbar-default{
  background-color: #65baad;
  color: #ffffff;
}

.main{
  padding-top : 3em;
  padding-bottom: 3em;

}

.main h2:first-letter{
  font-size: 1.5em;
  /*color: #7172ac;*/
  color: #facc2e;
}

.main h3{
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #faac58;
}


.main a:link{
  color: #245fbb
}

.main a:visited{
  color: #245fbb;
}

.main a:hover,a:active{
  color: #f6ca47;
  text-decoration: none;
}



#center{
  background-color: white;
  padding: 1em;
}

.icon-bar{
  background-color: black;
}

.jumbotron {
  height: 0;
  /* 表示画像の高さ/表示画像の幅*100 */
  padding-top: 45.78%;
  background: url('img/image01.JPG') 0 0 no-repeat;
  background-size: contain;
}

.photo1{
  height: 0;
  /* 表示画像の高さ/表示画像の幅*100 */
  padding-top: 23.81%;
  background: url('img/image1.jpg') 0 0 no-repeat;
  background-size: contain;
}

.photo2{
  height: 0;
  /* 表示画像の高さ/表示画像の幅*100 */
  padding-top: 23.81%;
  background: url('img/image2.jpg') 0 0 no-repeat;
  background-size: contain;
}

.photo3{
  height: 0;
  /* 表示画像の高さ/表示画像の幅*100 */
  padding-top: 23.81%;
  background: url('img/image3.jpg') 0 0 no-repeat;
  background-size: contain;
}

.photo4{
  height: 0;
  /* 表示画像の高さ/表示画像の幅*100 */
  padding-top: 23.81%;
  background: url('img/image4.jpg') 0 0 no-repeat;
  background-size: contain;
}

.photo5{
  height: 0;
  /* 表示画像の高さ/表示画像の幅*100 */
  padding-top: 23.81%;
  background: url('img/image5.jpg') 0 0 no-repeat;
  background-size: contain;
}

.photo6{
  height: 0;
  /* 表示画像の高さ/表示画像の幅*100 */
  padding-top: 23.81%;
  background: url('img/image6.jpg') 0 0 no-repeat;
  background-size: contain;
}

.label{
  color: black;
}

.footer{
  background-color: #707070;
}

.footer ul,ol{
  color: #D8D8D8;
  border-top: solid #D8D8D8 1px;
  border-bottom: solid #D8D8D8  1px;
  padding: 0.5em 0 0.5em 1.5em;
}

.footer ul li, ol li{
  line-height: 1.5;
  padding:0.5em 0;
}

.footer a:link,a:active,a:visited{
  color: #D8D8D8;
}

.footer a:hover{
  color: #BDBDBD;
  text-decoration: none;
}

.footer p{
  padding-top: 3em;
  color: #f2f2f2;
}

.copyright{
  text-align:right;
  padding-right:1em;
  color: white;
}


hr{
  background-color: #fff;
  border-top: 2px dotted #8c8b8b;
}

.bold_red {
    font-weight: bold;
    color: red;
}
