/* ======================================== サイト全体に適用*/
* { /* 全ての要素の間隔・余白を０へ */
margin:0;
padding:0;
}



body {
	margin: 0;
	color: #333;
	text-align: center;
	background-color: #FFFFFF;
	background-image: url(img/back02.png);
	background-position: top;
	background-repeat: repeat-x;
}



/* 文字サイズ */
#main{}
#menuR{
	font-size: 92%;
}



p, /* 文章の行間を指定 */
#contents li,
dl,
dd
{
	line-height: 140%;
}



p{
/*	margin: 0px 0em 1.5em 3px; */
	margin: 0px 0em 0.5em 3px; 
}


ul,ol,dl{
	margin: 0em 1em 1em 2em;
}



/* ========================================  .contentswrap 間隔・余白調整用 */
.contentswrap{
	margin: 0px;
}



/* ========================================  #page ページ外枠 */
#page {
	width: 950px;
	margin: 0px auto;
	text-align: left;
}




/* ========================================  #header 画面上部 */
#header {
	height: 75px;
	margin: 0px;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
}


#sitename {
	margin: 30px 0px 0px;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}



/* ========================================  #menu 上部メニュー */
#menu {
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}




ul.menu_f02{
	height: 30px;
	margin: 0px;
	border-bottom: 5px solid #333333;
	background-color: #045684;
}




ul.menu_f02 li{
	float: left;
	border-right: 1px solid #9AA7B6;
	border-right: 1px solid #004674;
	display: block;
}




ul.menu_f02 li a{
	height: 20px;
	width: 130px;
	padding: 10px 0px 0px;
	border-bottom: 5px solid #002654;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	text-align: center;
	background-color: #045684;
}

ul.menu_f02 li a.nowthis{
	border-bottom: 5px solid #FF6699!important;
}

ul.menu_f02 li a:hover , ul.menu_f01 li a.nowthis{
	padding: 10px 0px 0px;
	border-bottom: 5px solid #D3FBFE;
	color: #FFFFFF;
	background-color: #1DAFD3;
}

/* ======================================== #contents 画面中央部 #mainとサイドメニューの外枠 */
#contents{
	padding: 30px 0px 20px;
	margin: 0px;
}


/* ========================================  #main ページの本文 */
#main {
	float: left;
	width: 950px;
	margin: 0px 0px 20px;
}


#main h1 {
	clear: both;
	padding: 3px 0px 3px 5px;
	margin: 2em 0px 1em;
/*	border-left: 10px solid #F4CC0B; */
	border-left: 10px solid #888888;
	font-size: 120%;
	background-color: #F0F0F0;
}

#main h2 {
	margin: 18px 4px 14px 3px;
	font-size: 110%;
/*	color: #336699; */
	color: #111111; 
	background-color: #F0F0F0;
}

#main h3 {
	margin: 3px 0px 3px 3px;
	font-size: 100%;
/*	color: #336699; */
	color: #222222; 
	text-decoration: underline
}

/* ========================================  menuL 右サイドメニュー */
#menuR {
	float: right;
	width: 300px;
	margin: 0px 0px 20px;
	background-color: #F6F6F6;
}


#menuR p{
	margin-right: 1em;
	margin-left: 1em;
}


/* ========================================  #underNavi 画面下部サブナビゲーション */
#underNavi{
	clear: both;
	margin: 0px;
	border-top: 1px solid #999999;
	text-align: center;
}



/* ========================================  #footer 画面下部 */
#footer {
        clear: both;
	padding: 10px 0px;
	border-top: 5px solid #CCCCCC;
	color: #FFFFFF;
	text-align: center;
/*	background-color: #0B7A8E; */
	background-color: #777777;
}




/* ========================================  #templatelink 画面下部:著作リンク */
#templatelink {
	padding: 3px 0px;
	margin: 0px 0px 5px;
	font-size: 14px;
	text-align: right;
}

#templatelink a{
/*	color: #336699; */
	color: #045684;
	text-decoration: none;
}

/* ========================================  そのほか個別設定 */
.title{
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 20px;
	border-left: 30px solid #F4CC0B;
}


.label{
	padding: 7px 5px 5px 10px;
	margin: 0px 0px 10px;
	border-left: 10px solid #F4CC0B;
	font-weight: bold;
	color: #FFFFFF;
/*	background-color: #0B7A8E; */
	background-color: #045682;
}



.subh {
	padding: 5px 0px 0px 3px;
	margin: 0px;
	border-top: 1px dashed #999999;
	font-weight: bold;
	color: #4A8854;
}


.photo {
	margin: 0px 0px 20px;
}


.toInfo {
	margin: 0px 0px 1em;
	text-align: right;
	list-style-type: none;
}

.box {
	float: left;
	height: 300px;
	width: 630px;
	margin: 0px 10px 15px 0px;
	font-size: 92%;
/*	background-color: #EBF0F3; */
	background-color: #FFFFFF; 
}

.box p{
	margin: 10px !important;
}

.box_photo {
	float: left;
	height: 250px;
	width: 280px;
	margin: 0px 0px 0px 0px;
	font-size: 92%;
	background-color: #FFFFFF;
}}

.box3 {
	float: left;
	height: 150px;
	width: 200px;
	margin: 0px 10px 15px 0px;
	font-size: 92%;
	background-color: #EBF0F3;
}

.box3 p{
	margin: 10px !important;
}

